---
import { Button } from 'free-astro-components'
import Code from '../components/Code.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="welcome come on~">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title="总之就是Minecraft服务器"
      description="下面不知道写什么"
    >
      <div>
        <Button href="/guide/server_guide" label="查看服务器指南" />
      </div>
      {/* 
        关键改动：
        在包裹 <Code /> 组件的 div 上添加了 class="break-all"。
      */}
      <div class="break-all">
        <Code code="play.mc.rabbithouse31.natsuki.cloud" />
      </div>
    </Hero>
    <Intro />
  </main>
  <Footer />
</Layout>