---
import { Button } from 'free-astro-components'
import Code from '../components/Code.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="welcome come on~">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title="点兔频道｜木结构街道服务器"
      description="请问您今天要来点Minecraft吗？"
    >
      <div>
        <Button href="/guide/server_guide" label="查看服务器指南" />
      </div>
    </Hero>
    <Intro />
  </main>
  <Footer />
</Layout>