---
import { Button } from 'free-astro-components'
import Code from '../components/Code.astro'
// 移除了对 CTA.astro 的导入，因为它不再被使用
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import Hero from '../sections/Hero.astro'
import Intro from '../sections/Intro.astro'
import Layout from '../layouts/Layout.astro'
import Sidebar from '../layouts/Sidebar.astro'
---

<Layout title="welcome come on~">
  <Sidebar class="lg:hidden" />
  <Header />
  <main>
    <Hero
      align="center"
      title="总之就是Minecraft服务器"
      description="下面不知道写什么"
    >
      <div>
        <Button href="/guide/server_guide" label="查看服务器指南" />
      </div>
      <div>
        <Code code="play.mc.rabbithouse31.natsuki.cloud" />
      </div>
    </Hero>
    <Intro />
    <!-- 
      根据您的指示，
      原有的 <CTA /> 组件部分已从这里被完全删除。
    -->
  </main>
  <Footer />
</Layout>