---
import Card from '../components/Card.astro'
---

<section class="py-16 lg:py-32">
  <div class="container flex flex-col gap-16">
    <div class="flex flex-col gap-4">
      <h2 class="text-neutral-700 text-3xl lg:text-4xl [&>strong]:font-medium">
        这里要写什么？
      </h2>
      <p class="text-neutral-500 lg:text-lg">
        なつき不知道
      </p>
</section>
